.slide-button {
	display: flex;
	position: relative;
	background-color: white;
	user-select: none;
	-webkit-user-select: none;

	.slide-container {
		display: flex;
		height: 30px;
		width: 170px;
		flex: 1;
		position: relative;
    justify-content: center;

		.slider {
			position: absolute;
			height: 30px;
			top: 0;
			z-index: 100;

			&.left-position {
				left: 0;
			}

			&.right-position {
				right: 0;
			}

			.slider-circle {
        height: 30px;
				width: 30px;
				background-color: green;
				border-radius: 50%;
        cursor: pointer;
			}
		}

		.slider-text {
			display: none;
      color: black;

			&.show {
				margin-left: 5px;
				display: flex;
			}
		}
	}
}
